$main-bg-footer-color: #f8f8f8;
$main-bg-shadow-color: #ffecec;
$main-text-second-color: #ffffff;
$main-text-first-color: #4f5665;
$main-text-color: #0b132a;
$main-btn-color: #f53838;
$main-border-color: #dddddd;

// font
$main-font: "Rubik";
